<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TConfigMapper">
  <resultMap id="BaseResultMap" type="com.company.project.domain.model.TConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="config_id" jdbcType="INTEGER" property="configId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="config_key" jdbcType="VARCHAR" property="configKey" />
    <result column="config_value" jdbcType="VARCHAR" property="configValue" />
  </resultMap>
</mapper>